<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devoured}}">
		{{#if devoured}}EAT ME{{else}}ALL GONE{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
